<app-navbar></app-navbar>
<div class="container mt-3">
  <router-outlet></router-outlet>
  <hr>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-rounded-corners add-button m-2" (click)="activarShowPokemons()">Mostrar Todos</button>
      <app-add-pokemon (rstatus)="onrstatus($event)" (click)="desactivarMostrar()"></app-add-pokemon>
      <app-get-pokemon (rstatus)="onrstatus($event)" (click)="desactivarMostrar()"></app-get-pokemon>
    </div>
  </div>
  <hr>
  <app-show-pokemon (rstatus)="onrstatus($event)" *ngIf="showPokemonVisible"></app-show-pokemon>
  </div>

  <div class="grid-container">
    <div *ngIf="success">
      La operación se ha realizado con éxito
      <button class="btn btn-primary btn-rounded-corners add-button m-2" (click)="cancelmessage()">OK</button>
    </div>
    <div *ngIf="failure">
      La operación no se ha podido realizar con éxito
      <button class="btn btn-primary btn-rounded-corners add-button m-2" (click)="cancelmessage()">OK</button>
    </div>
    </div>